VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=freshtively.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=freshtively
VITE_FIREBASE_STORAGE_BUCKET=freshtively.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=365665740130
VITE_FIREBASE_APP_ID=1:365665740130:web:948f42eff31f318e28f83b
VITE_FIREBASE_MEASUREMENT_ID=G-9P2T5CTP5Z
